body {
  background-color: #5D91EB;
  color: #0341AE;
  max-width: 100%;
font-family: 'Black Ops One', cursive;
  font-size: larger;
  padding-top: 20px;
}

header {
  align-items: center;
  margin: 0 auto;
}

#header-image img {
  max-width: 80%;
  height: auto;
}

#header-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

section {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  color: #DAE0EC;
  font-family: "Playfair Display";
  margin: 0;
}

p {
  background-color: #68C8E1;
  padding: 20px;
}

a {
  color: #EFC22E;
  text-decoration: none;
}

a:hover {
  color: #FF6600;
  text-decoration: underline;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#wrapper {
  display: flex;
  justify-content: space-between;
}
